<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/layout.css">
    <title>Layout</title>
</head>
<body>
    <div class="content">
        <sidebar>
            <div id="logo">LOGO</div>
            <div class="side-list">
                <ul>
                    <li class="side-item">primeiro item</li>
                    <li class="side-item">segundo item</li>
                    <li class="side-item">terceiro item</li>
                </ul>
            </div>
            <div id="logout">
                LOGOUT
            </div>
        </sidebar>
        <main>

        </main>
    </div>
</body>
</html>