<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/layout.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Layout</title>
</head>
<body>
    <div class="content">
        <sidebar>
            <div id="logo" class="side-item">
                <img src="../assets/img/brasao-ufal.png" alt="" class="brasao-ufal">
            </div>

            <div class="side-list">
                <ul>
                    <li class="side-item">
                        <a href="" class="link-item">
                            <i class="bi bi-list"></i>
                            Menu
                        </a>
                    </li>

                    <li class="side-item">
                        <a href="" class="link-item">
                            <i class="bi bi-graph-up"></i>
                            Visão Geral
                        </a>
                    </li>

                    <li class="side-item">
                        <a href="" class="link-item">
                            <i class="bi bi-person-lines-fill"></i>
                            Clientes
                        </a>
                    </li>
                    
                    <li class="side-item">
                        <a href="" class="link-item">
                            <i class="bi bi-clipboard2"></i>
                            Produtos
                        </a>
                    </li>

                    <li class="side-item">
                        <a href="" class="link-item">
                            <i class="bi bi-bag-fill"></i>
                            Encomendas
                        </a>
                    </li>

                    <li class="side-item">
                        <a href="" class="link-item">
                            <i class="bi bi-box-seam"></i>
                            Estoques
                        </a>
                    </li>

                    <li class="side-item">
                        <a href="" class="link-item">
                            <i class="bi bi-cart2"></i>
                            Vendas
                        </a>
                    </li>
                </ul>
            </div>

            <div id="logout" class="side-item">
                <a href="">
                    <i class="bi bi-door-open"></i>
                    Logout
                </a>
            </div>
        </sidebar>
        
        <main>

        </main>
    </div>
</body>
</html>