html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #eef1fc;
}

ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

li {
    width: 100%;
    list-style-type: none;
    padding:0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

a {
    text-decoration: none;
}

sidebar {
    display: grid;
    grid-template-rows: 3fr 7fr 3fr;
    padding: 1%;
    gap: 1%;
    background-color: #3D479B;
}

main{
    padding: 24px;
}

.content{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1.5fr 8.5fr;
    gap: 0.5%;
}


#logo{
    align-items: center;
}

.side-list{
    display: flex;
    flex-direction: row;
    
}

.side-item{
    display: flex;
    justify-content: center;
}

.side-item a{
    width: 100%;
    color: white;
}

.link-item{
    display: flex;
    justify-content: space-evenly;
}

.link-item:hover{
    background-color: rgba(119, 133, 255, 0.2);
}

.link-item:active{
    background-color: rgba(119, 133, 255, 0.9);
}

.item-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logout{
    align-items: center;
}

.brasao-ufal{
    width: 30%;
}

.bi{
    font-size: 2em;
}


.border-curved{
    border-radius: 15px;
}

.bg-gray{
    background-color: #dbdbdb;
}

.color-white{
    color: white;
}
.title-text{
    color: #3D479B;
    font-size:x-large;
    font-weight: bold;
}
.btn:hover{
    background-color: #2c3bc7;
}

table{
}

tr{
   
    
}

#clientes, #encomendas, #estoque, #produtos {
    display: flex;
    flex-direction: column;
}

#table-title{
    padding-bottom: 24px;
}
